$content-width: 1280px;

$main-background: #fff;
$dark-background: #1a1a1f;
$text-title-color: #07070c;
$text-primary-color: #6e727e;
$text-light-color: #fff;
$accent-color: #f35a2a;
$border-color: #f4f4f6;
